@import "../variable.scss";

#footer {
  background: linear-gradient(to right, #FCEED5, #FFE7BA);
  padding: 30px 0;
  bottom: 0;
  margin-top: 2rem;

  @media (max-width: 768px) {
    position: relative;
  }

  .subscribe-box {
    font-family: "SVN-Gilroy-Bold", sans-serif;
    background: $primary-color;
    color: $normal-color;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: block;
    }

    .subscribe-title {
      width: 100%;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .subscribe-form {
      width: 100%;
      background-color: $normal-color;
      border-radius: 1rem;
      padding: 0.5rem;
      display: flex;

      @media (max-width: 768px) {
        display: block;
        margin-top: 1rem;
        width: auto;
      }

      button {
        border-radius: 0.4rem;
        padding: 0.5rem;
        text-align: center;
        background-color: $primary-color;
        color: $normal-color;
        width: 40%;
        margin-left: 0.5rem;

        @media (max-width: 768px) {
          width: 100%;
          margin-left: 0;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba($primary-color,.18);

    @media (max-width: 768px) {
      display: block;
    }

    .menu {
      display: flex;
      margin: 1rem 0;
      justify-content: space-between;
      color: $primary-color;

      span {
        margin: 0 1rem;
      }
    }

    .sosmed {
      display: flex;
      justify-content: center;
      color: $dark-color;
      
      i {
        margin: 0 1.5rem;
        font-size: 22px;
      }
    }
  }

  .footer-format {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-flow: column;
      text-align: center;
    }

    .footer-copyright {
      font-size: 12px;

      @media (max-width: 768px) {
        order: 3;
        margin: 0.5rem 0;
        font-size: 10px;
      }
    }

    .footer-image-logo {
      @media (max-width: 768px) {
        order: 1;
        margin: 1rem 0;
      }
    }

    .term-condition {
      order: 2;
      margin: 0.5rem 0;
      font-size: 12px;
      font-weight: 800;

      span {
        margin: 0 0.5rem;
      }
    }
  }
}
