

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992) {
    width: 970px;
  }

  @media (min-width: 768) {
    width: 750px;
  }
}

.not-found {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 8rem;

  @media (max-width: 768px) {
    font-size: 12px;
    margin: 4rem 0 2rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 2px solid #1eaddc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}

.form-input {
  text-indent: 5px;
  border-radius: 10px;
  background-color: #fff;

  @media (max-width: 768px) {
    text-indent: 15px;
  }
}
