@import "../variable.scss";

.navbar {
  background: linear-gradient(to right, #FCEED5, #FFE7BA);
  position: relative;
  overflow: hidden;
}

.nav {
  width: 100%;
  position: relative;
  display: flex;

  .nav-header {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 2rem 0;
    z-index: 99999;

    @media (max-width: 768px) {
      padding: 0.5rem 0;
      margin: 0 auto;
    }
  }

  .nav-links {
    display: inline;
    font-size: 18px;
    font-family: "SVN-Gilroy-Bold", sans-serif;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 100%;

    a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: $primary-color;
    }
    
    a:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .nav-search {
    width: 100%;
    display: flex;
    align-items: center;

    .form-search {
      position: relative;
      width: 100%;

      @media (max-width: 768px) {
        padding: 1rem;
      }

      .fa-search {
        position: absolute;
        top: 16px;
        left: 18px;
        color: #9ca3af;

        @media (max-width: 768px) {
          top: 25px;
          left: 2rem;
        }
      }
    
      span {
        position: absolute;
        right: 17px;
        top: 13px;
        padding: 2px;
        border-left: 1px solid #d1d5db;
      }
    
      .form-control {
        display: block;
        width: 100%;
        height: 34px;
        border: 0 !important;
        padding: 8px 12px;
        font-size: 14px;
        color: #555;
        background-color: #fff;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  
        @media (max-width: 768px) {
          width: 100%;
          padding: 0;
        }
      }
      
      .form-input {
        text-indent: 35px;
        border-radius: 20px;
        background-color: #fff;
  
        @media (max-width: 768px) {
          text-indent: 45px;
        }
      }
    }
  }

  .nav-button {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2.5rem;

    @media (max-width: 768px) {
      margin-left: 0;
      padding: 2rem;
      width: auto;
    }

    button {
      background-color: $primary-color;
      border-radius: 2rem;
      padding: 1rem 2rem;
      color: $normal-color;
      cursor: pointer;

      @media (max-width: 768px) {
        width: 100%;
        background-color: $normal-color;
        color: $primary-color;
      }
    }
  }

  .nav-search-icon {
    display: none;

    @media (max-width: 768px) {
      color: $primary-color;
      display: block;
      font-size: 22px;
      margin-top: 1rem;
    }
  }
}

.nav > .nav-btn {
  display: none;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    z-index: 999999;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    span {
      background-color: $primary-color;
    }
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    padding: 0.1rem 0;
    margin: 0.2rem 0;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    margin: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: $normal-color;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    z-index: 999999;
    background-color: $primary-color;
  }
}
