@import "../../variable.scss";

.ouritems {
  background: $soft-color;
  padding: 2rem 1rem 0.5rem;
  position: relative;
  z-index: 99999;

  @media (max-width: 768px) {
    padding: 0 1rem 0.5rem;
  }
}

.petsellers {
  background: $soft-color;
  padding: 2rem 1rem 0.5rem;
  position: relative;
  z-index: 99999;

  @media (max-width: 768px) {
    display: none;
  }
}

.our-item_wrapper {
  display: flex;
  justify-content: space-between;

  .our-item_title {
    width: 100%;

    h5 {
      color: $dark-color;

      @media (max-width: 768px) {
        line-height: 0;
      }
    }
    h3 {
      font-family: "SVN-Gilroy-Bold", sans-serif;
      text-transform: capitalize;
      color: $primary-color;
      line-height: 0;
      font-weight: 500;

      @media (max-width: 768px) {
        line-height: normal;
      }
    }
  }
}

.items {
  .items-wrap {
    position: relative;
    display: grid;
    grid-gap: 1rem;

    @media (max-width: 768px) {
      grid-gap: 0.4rem;
    }

    .items-box {
      background-color: $normal-color;
      padding: 0.5rem;
      box-shadow: 0 1px 6px 0 rgba(0,0,0,.12);
      border-radius: 8px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        border-radius: 5%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),var(--tw-ring-shadow, 0 0 transparent),var(--tw-shadow);
        height: auto;
        cursor: pointer;
      }

      .pet-title {
        font-family: "SVN-Gilroy-Bold", sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        margin-top: 1rem;
      }

      .pet-info {
        display: flex;
        font-size: 10px;
        line-height: 2rem;

        @media (max-width: 768px) {
          display: block;
          line-height: 1.5rem;
        }

        .pet-info-wrap {
          margin: 0 0.14rem;

          .fill-info {
            font-weight: bold;
            margin-left: 0.3rem;
          }
        }

        .pet-info-wrap:first-child {
          margin-left: 0;
        }

        .poin {
          display: block;
          margin: 0 0.3rem;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      .pet-price {
        font-family: "SVN-Gilroy-Bold", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: $dark-color;
        line-height: 1rem;

        @media (max-width: 768px) {
          line-height: 1.5rem;
        }
      }

      .pet-gift {
        display: flex;
        font-size: 10px;
        line-height: 2rem;
        background-color: $secondary-color;
        font-family: "SVN-Gilroy-Bold", sans-serif;
        margin-top: 1rem;
        color: $primary-color;
        border-radius: 0.5rem;

        .pet-gift-wrap {
          margin: 0 0.3rem;
        }

        .pet-gift-wrap:first-child {
          margin: 5px;
        }

        .poin {
          display: block;
          margin: 0 0.3rem;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      .pet-headline {
        font-family: "SVN-Gilroy-Bold", sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        margin: 0.5rem 0;
      }

      .pet-type {
        background-color: $state-color;
        color: $normal-color;
        border-radius: 2rem;
        text-align: center;
        padding: 0.2rem 0;
        width: 6rem;
        font-size: 10px;
        font-weight: 800;
        margin: 0.8rem 0;
      }

      .pet-description {
        font-size: 12px;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 3; 
        overflow: hidden; 
        text-overflow: ellipsis;
      }
    }
  }
  
  .items-grid {
    grid-template-columns: repeat(4,minmax(0,1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  .items-news-grid {
    grid-template-columns: repeat(3,minmax(0,1fr));

    @media (max-width: 768px) {
      grid-template-columns: repeat(1,minmax(0,1fr));
    }
  }
}
